# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
client/.env
server/.env

# build files
dist/
build/
client/dist/
server/dist/

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db